.service-section{
  margin-top: 2rem;
  .service{
    width: 95%;
    background-color: #26202A;
    border-left: 1px solid #2e344e;
    border-right: 1px solid #2e344e;
    border-bottom: 1px solid #2e344e;
    border-top: 4px solid #2e344e;
    transition: all .4s ease-in-out;
    &:hover{
      border-top: 4px solid #037FFF;
    }

    .service-content{
      padding: 1rem;

      img {
        width: 100%;
        height: 100px;
      }

      .service-title{
        font-size: 1.4rem;
        position: relative;
        padding-bottom: .6rem;
        margin: 1rem 0;
        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 30%;
          height: 1px;
          background-color: #2e344e;
        }
      }
    }
  }
}

.service-container{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}